
@model CategoryModel
@{
    ViewBag.Title = Translate("admin.AddEdit").Text;
}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4>
                <i class="icon-images3 mr-2"></i> <span class="font-weight-semibold">@Translate("admin.Category").Text </span>
            </h4>
            <a asp-controller="Category" asp-action="AddEdit" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>  @Translate("admin.Home").Text</a>
                <span class="breadcrumb-item"> @Translate("admin.Category").Text </span>
                <span class="breadcrumb-item active"> @Translate("admin.AddEdit").Text </span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>&nbsp;
        </div>
    </div>
</div>
<!-- /page header -->
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">   @Translate("admin.AddEdit").Text  </h5>
        </div>
        <div class="card-body">
            <form method="post" asp-action="AddEdit" asp-controller="Category" id="frmAddEdit" novalidate class="needs-validation" onsubmit="ShowLoading();">
                <input asp-for="Id" type="hidden" />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-row">
                            <div class="col-md-12 mb-1">
                                @(await  Html.LocalizedEditor<CategoryModel, CategoryLocalizedModel>("Category-name-localized", @<div>
                                <div class="form-row">
                             <div class="col-md-6 mb-1">
                                <label for="validationCustom01"> @Translate("admin.Name").Text </label>
                                <input asp-for="@Model.Locales[item].Name" class="form-control" />
                                <span asp-validation-for="@Model.Locales[item].Name"></span>
                            </div>


        </div>

         <input type="hidden" asp-for="@Model.Locales[item].LanguageId" />
    </div>
    ,
    @<div class="form-row">
                             <div class="col-md-6 mb-1">
                                <label for="validationCustom01">@Translate("admin.Name").Text  <span class="text-danger">*</span></label>
                                <input asp-for="Name" class="form-control" maxlength="300"/>
                                <span asp-validation-for="Name"></span>
                            </div>
        </div>))

                            </div>
                        </div>
                        <div class="form-row">
                            <br />
                            <div class="col-md-12 mb-1">
                                <label for="validationCustom01">@Translate("admin.Icon").Text</label>
                                @Html.EditorFor(f => f.IconId, "Picture")
                            </div>
                            <br />
                            <div class="col-md-12 mb-1">
                                <div class="form-check form-check-inline">
                                    <label class="form-check-label">
                                        <input type="checkbox" asp-for="IsPublish" class="form-check-input-styled" data-fouc>
                                        @Translate("admin.ispublish").Text
                                    </label>
                                </div>
                                <span asp-validation-for="IsPublish"></span>
                            </div>
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-primary" type="submit">@Translate("admin.Submit").Text   </button>
                            <a asp-controller="Category" asp-action="Index" class="btn btn-danger">@Translate("admin.Back").Text <i class="icon-back-left"></i></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

