@model UserModel

@{
    ViewBag.Title = Translate("admin.AddEdit").Text;
}
<!-- Page header -->
<div class="page-header page-header-light ">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4>
                 <span class="font-weight-semibold">@Translate("admin.UsersManagement").Text</span>
            </h4>
            <a asp-controller="Users" asp-action="AddEdit" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>  @Translate("admin.Home").Text</a>
                <span class="breadcrumb-item">     @Translate("admin.UsersManagement").Text</span>
                <span class="breadcrumb-item active"> @Translate("admin.AddEdit").Text </span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>&nbsp;

        </div>

    </div>
</div>
<!-- /page header -->
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">  @Translate("admin.AddEdit").Text </h5>
        </div>
        <div class="card-body">
            <form method="post" asp-action="AddEdit" asp-controller="Users" id="frmAddEdit" novalidate class="needs-validation" onsubmit="ShowLoading();">
                <input asp-for="Id" type="hidden" />
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">@Translate("admin.Name").Text</label>
                                <input asp-for="FullName" class="form-control" maxlength="250" />
                                <span asp-validation-for="FullName"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">@Translate("admin.Email").Text</label>
                                <input asp-for="Email" class="form-control" maxlength="250" />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">@Translate("admin.PhoneNumber").Text</label>
                                <input asp-for="PhoneNumber" class="form-control" maxlength="250" />
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="validationCustom01">@Translate("admin.Group").Text</label>
                                <select asp-for="RoleName" asp-items="@Model.RolesList" class="form-control select2">
                                </select>
                                <span asp-validation-for="RoleName"></span>
                            </div>
                            @if (string.IsNullOrEmpty(Model.Id))
                            {
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">@Translate("admin.Password").Text</label>
                                    <input asp-for="Password" type="password" class="form-control" maxlength="250" />
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <label for="validationCustom01">@Translate("admin.ConfirmPassword").Text</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" maxlength="250" />
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>
                            }
                        </div>
                        <div class="form-group text-right">
                            <button class="btn btn-primary" type="submit">@Translate("admin.Submit").Text</button>
                            <a asp-controller="Users" asp-action="Index" class="btn btn-default">@Translate("admin.Back").Text<i class="icon-back-left"></i></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
