@model UserModel
@{
    ViewBag.Title = Translate("admin.UsersManagement").Text;
}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4>
                 <span class="font-weight-semibold">@Translate("admin.UsersManagement").Text</span>
            </h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i>  @Translate("admin.Home").Text</a>
                <span class="breadcrumb-item active"> @Translate("admin.UsersManagement").Text</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>&nbsp;
        </div>
    </div>
</div>
<!-- /page header -->
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title"> @Translate("admin.UsersManagement").Text</h5>
            <div class="header-elements">
                <a asp-controller="Users" asp-action="AddEdit" class="btn btn-info">
                    
                    @Translate("admin.AddUser").Text
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">@Translate("admin.Name").Text</label>
                    <input asp-for="FullName" class="form-control" maxlength="250" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">@Translate("admin.Email").Text</label>
                    <input asp-for="Email" class="form-control" maxlength="250" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">@Translate("admin.PhoneNumber").Text</label>
                    <input asp-for="PhoneNumber" class="form-control" maxlength="250" />
                </div>
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">@Translate("Group").Text</label>
                    <select asp-for="RoleName" asp-items="@Model.RolesList" class="form-control select2">
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-3 mb-3">
                    <label for="validationCustom01">@Translate("admin.Status").Text</label>
                    <select class="form-control select2" id="StatusId">
                        <option value="0">@Translate("admin.All").Text</option>
                        <option value="1">@Translate("admin.Active").Text</option>
                        <option value="2">@Translate("admin.DecActive").Text</option>
                    </select>
                </div>
                <div class="col-md-2" style="padding-top: 30px !important;">
                    <button onclick="RefreshTable()" class="btn btn-danger">
                        
                        @Translate("admin.Search").Text
                    </button>
                </div>
            </div>
            <table id="table" class="table datatable-button-html5-basic">
                <thead>
                    <tr>
                        <th> @Translate("admin.Name").Text</th>
                        <th> @Translate("admin.Email").Text</th>
                        <th> @Translate("admin.PhoneNumber").Text</th>
                        <th> @Translate("admin.Group").Text</th>
                        <th> @Translate("admin.Status").Text</th>
                        <th> @Translate("admin.Options").Text</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

<script src="~/ViewScripts/Users/Users.js"></script>