@model LanguageModel
@{
    ViewBag.Title = "Language";
}
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4>
                <i class="icon-images3 mr-2"></i> <span class="font-weight-semibold">@Translate("admin.Language").Text</span>
            </h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> @Translate("admin.Home").Text </a>
                <span class="breadcrumb-item active">@Translate("admin.Language").Text</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>&nbsp;
        </div>
    </div>
</div>
<!-- /page header -->
<div class="content">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">@Translate("admin.Language").Text </h5>
            <div class="header-elements">
                <a asp-controller="Language" asp-action="AddEdit" class="btn bg-info-800">
                    <i class="icon-file-plus mr-2"></i>
                    @Translate("admin.AddEdit").Text 
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="col-md-4 mb-1">
                    <label for="validationCustom01">@Translate("admin.Name").Text</label>
                    <input asp-for="Name" class="form-control" maxlength="250" />
                </div>
                <div class="col-md-4 mb-1">
                    <label for="validationCustom01">@Translate("admin.Status").Text</label>
                    <select class="form-control select2" id="StatusId">
                        <option value="0">@Translate("admin.All").Text</option>
                        <option value="1">@Translate("published").Text</option>
                        <option value="2">@Translate("notpublished").Text</option>
                    </select>
                </div>
                <div class="col-md-4" style="padding-top: 30px !important;">
                    <button onclick="RefreshTable()" class="btn btn-danger">
                        <i class="icon-filter3 mr-2"></i>
                        @Translate("Search").Text
                    </button>
                </div>
            </div>
            
            <table id="table" class="table datatable-button-html5-basic">
                <thead>
                    <tr>
                        <th> @Translate("admin.Name").Text</th>
                        <th> @Translate("admin.LanguageCulture").Text</th>
                        <th> @Translate("admin.DisplayOrder").Text</th>
                        <th> @Translate("admin.Status").Text</th>
                        <th> @Translate("admin.Options").Text</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>
</div>

<script src="~/ViewScripts/Language/Language.js"></script>